.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
  
}
.example-appear {
  opacity: 0.01;  
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.todo-appear {
  transform: translateY(-200px);
}

.todo-appear.todo-appear-active {
  transform: translateY(0px);
  transition: transform .3s ease-out;
}
.Score {
  transform: translateY(0px);
  position: absolute;
}
.Score--bounce{
  animation:Score-keyframes--bounce .2s ease-out
}
@keyframes Score-keyframes--bounce{
  0%,to {transform: scale(2) translateY(-20px)}
  100% {transform:translateY(0) scale(1) }
}
